<div class="container">
  <div class="header">
    <div class="logo">
      <img src="http://chatjs.top/favicon.ico">
      <h1>邮件管理</h1>
    </div>
  <div class="log">
    未登录
  </div>
  </div>
  <div class="controle">
      筛选时间:
      <select [(ngModel)]="intervalList[0]">
        <option  *ngFor="let item of yearList">{{item}}</option>
      </select>年
      <select [(ngModel)]="intervalList[1]">
        <option *ngFor="let item of monthList">{{item}}</option>
      </select>月
      <select [(ngModel)]="intervalList[2]">
        <option *ngFor="let item of dayList">{{item}}</option>
      </select>日
      至&nbsp;
      <select [(ngModel)]="intervalList[3]">
        <option *ngFor="let item of yearList">{{item}}</option>
      </select>年
      <select [(ngModel)]="intervalList[4]">
        <option *ngFor="let item of monthList">{{item}}</option>
      </select>月
      <select [(ngModel)]="intervalList[5]">
        <option *ngFor="let item of dayList">{{item}}</option>
      </select >日
      筛选类型
      <select [(ngModel)]="messageType">
        <option>bug</option>
        <option>其它</option>
      </select>
      <input [(ngModel)]="keyWords" type="text" value="" placeholder="#zs">
      <input type="button" value="查找">
      <input type="checkbox" (click)="toSelectAll()">全选 <span  class="delete-btn">&nbsp;删除</span>
  </div>
  <div class="content" *ngFor="let item of messageList;let i=index;">
    <input type="checkbox" [checked]='selectAll' >
    <div class="u-info">
      <div class="u-header">
        <img src="../assets/maile.svg">
      </div>
      <div class="u-name">
        {{item.name}}
      </div> 
    </div>
    <div [ngClass]="{'message': i == messageClickIndex}" (click)="showMore(i)">
      {{item.message}}
      <br>
      <br>
      <br>
      <input type="text" (click)="$event.stopPropagation()"><a (click)="Response(i);$event.stopPropagation()">回复</a>
    </div>
    <div class="show-more">
      <img src="../assets/maile.svg">
      <div class="u-date">
        {{item.date}}  
      </div>
      <a>删除</a>
    </div>
  </div>
  <div class="controle-page">
    <div (click)="pageUp()">上一页</div>
    <div>第n页</div>
    <div (click)='pageDown()'>下一页</div>
  </div>
  <div class="foot">
    copy Right 2020
    <br>
    2018数字媒体袁涵
  </div>
</div>